.Publications {
  padding: 80px 0;
}
.publication-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.publication-card {
  height: 350px;
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(244, 242, 242, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transition: all 0.3s ease-in;
}

.publication-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.publication-card h2 {
  position: absolute;
  margin: 0;
  text-align: center;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(40, 40, 40, 0.5);
}

.publication-card:hover {
  box-shadow: rgba(219, 218, 218, 0.25) 0px 25px 50px -12px;
  cursor: pointer;
}

.publication-card:hover h2 {
  font-size: 36px;
}

/* Style for the modal */
.modal {
  display: none; /* Hide the modal by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  z-index: 999999999;
}

/* Style for the modal content */
.modal-content,
.modal-content2 {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.modal-content2 {
  height: calc(100vh - 50px);
  overflow-y: scroll;
}

/* Style for the close button */
.close,
.close2,
.close3 {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transform: scale(1.5);
  transition: all 0.1s ease-in;
}

.close:hover,
.close2:hover,
.close3:hover {
  transform: scale(2);
}

.competition-layout {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.competition-card {
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.competition-card img {
  height: 250px;
  object-fit: cover;
}

.competition-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.competition-card h2,
p {
  text-align: center;
}

.competition-content h2 {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 10px;
}

.competition-content button {
  background-color: #3898ec;
  border-radius: 5px;
  transition: all 0.1s ease-in;
}

.competition-content button:hover {
  transform: scale(1.1);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.competition-content button a {
  color: white;
  padding: 8px 3px;
  text-decoration: none;
}

.learningContent h2 {
  margin-bottom: 40px;
}

.learningContent p {
  padding: 0 50px;
}

.learningContent .images {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 30px;
}

.learningContent .images img {
  width: 40%;
  flex-basis: 40%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  transition: all 0.1s ease-in;
}

.learningContent .images img:hover {
  transform: scale(1.05);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.reserchCard {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reserchCardStyles {
  padding: 25px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reserchAuthor {
  display: flex;
  gap: 10px;
  align-items: center;
}

.reserchAuthor img {
  width: 27px;
  height: 27px;
  border-radius: 100%;
  overflow: hidden;
}

.authorName {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
}

.reserchTitle {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.date {
  font-size: 13px;
  font-weight: lighter;
  font-style: italic;
}

.reserchDescription {
  font-size: 13px;
  text-align: left;
  margin-top: 14px;
}

.reserchCard button {
  border-radius: 10px;
  overflow: hidden;
  background-color: #3898ec;
  width: 80px;
  height: 28px;
  transition: all 0.1s ease-in;
}

.reserchCard button:hover {
  transform: scale(1.1);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.reserchCard button a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
}

#myModal3 .form {
  display: flex;
  gap: 8px;
  align-items: center;
  width: fit-content;
}

#myModal3 .form a {
  font-size: 13px;
  font-weight: 600;
  color: #3898ec;
}

#myModal3 .form img {
  width: 18px;
  transform-origin: center center;
  transition: all 0.1s ease-in;
}

#myModal3 .form:hover img {
  transform: scale(1.1);
}

/* team */

.team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.team .team-card {
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: end;

}

.team-card img{
  z-index: 2;
  height: 300px;
  object-fit: cover;
  transition: all ease-in-out 0.3s;
  transform-origin: bottom;
}

.team-card img:hover{
  scale: 1.05;
}

.team .team-card .item{
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.team-card-bg {
  position: absolute;
  background-color: #3898ec;
  width: 100%;
  height: 90px;
  bottom: 0;
  z-index: 1;
  border-radius: 20px;
}

.team-card p{
  color: #fff;
  font-family: DM Sans, sans-serif;
}

.team-member-title{
  font-size: 20px;
  font-weight: 700;
  color: #3898ec !important;
}


/*-----news-----*/

.news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.news-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  background-color: white;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.news-card:hover {
  transform: scale(1.05);
}

.news-image {
  width: 100%;
  height: 200px !important;
  object-fit: cover;
}

.news-title {
  font-size: 1.2rem;
  margin: 10px;
}

.learningContent{
  padding: 30px;
}

.news-excerpt {
  font-size: 0.9rem;
  margin: 10px;
  color: #666;
  text-align: left;
}

.news-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.news-popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.news-popup-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.close-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.news-popup-content h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.news-popup-content h2 {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.news-popup-content p {
  margin-bottom: 1em;
  text-align: left;
}

.news-popup-content ul, .news-popup-content ol {
  margin-bottom: 1em;
  padding-left: 2em;
}

.news-popup-content blockquote {
  border-left: 4px solid #ccc;
  padding-left: 1em;
  margin-left: 0;
  color: #666;
}

.news-popup-content code {
  background-color: #f4f4f4;
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

.news-popup-content pre {
  background-color: #f4f4f4;
  padding: 1em;
  overflow-x: auto;
}

.news-popup-content img {
  max-width: 100%;
}

.featured-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.news-popup-content img{
  border-radius: 20px ;
}

.news-card button{
  margin: 10px auto 0 auto;
  width: fit-content;
  background-color: #666;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.gallery-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.lightbox-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
}

.lightbox-nav.prev {
  left: 1rem;
}

.lightbox-nav.next {
  right: 1rem;
}

.lightbox-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

[x-cloak]{
  display: none;
}
